header{
background:linear-gradient(rgba(5, 5, 5, 0.733),rgba(27, 27, 27, 0.712)),url("../public/img/header.jpg");
background-size: cover;
}
.openbtn{
    font-size: 20px;
    cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-left: 85%;
    margin-top: 2%;
    border-radius: 25px 25px 25px 25px;
}

#menuBoton{
    float: right;
}

.sidebar{
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    
}

.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    color: aliceblue;
}

.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 10px;}
  }

h1{
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
    font-size: 3.5vw;
}
#e{
    color:royalblue;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    height: 50px;
    top: 30%;
    left: 46%;
    margin-left: -50px;
    margin-top: -25px;
    position: absolute;
}
#guion{
    color: royalblue;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    height: 50px;
    top: 30%;
    left: 49%;
    margin-left: -50px;
    margin-top: -25px;
    position: absolute;
}

#Chile{
    color: antiquewhite;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    height: 50px;
    top: 30%;
    left: 51%;
    margin-left: -50px;
    margin-top: -25px;
    position: absolute;
}
#Digital{
    color:brown;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    height: 50px;
    top: 30%;
    left: 60%;
    margin-left: -50px;
    margin-top: -25px;
    position: absolute;
}
#fondo{
   text-align: center;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
}

div.transbox{
    margin: 30px;
    background-color: #0e0d0d65;
    border: 1px solid black;
    opacity: 0.6;
}

div.transbox p{
    margin: 5%;
}

#presentacion{
    color: rgba(228, 218, 206, 0.562);
    padding-left: 25vw;
    padding-top: 20vw;
    font-family: sans-serif;
}
